.sidebar {
  background-color: #fff;
  height: 100%;
  width: 414px;
  position: relative;
  overflow-x: hidden;
}

.searchboxContainer {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.chatListContainer {
  padding: 0 16px;
  margin-top: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spinnerContainer {
  width: 100%;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer i {
  font-size: 24px;
}

.profile {
  position: absolute;
  inset: 0;
  background-color: #f4f4f5;
  margin-left: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile.openProfile {
  margin-left: 0;
}
