.sidebar {
  background-color: #fff;
  height: 100%;
  width: 414px;
  position: relative;
}

.searchboxContainer {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.chatListContainer {
  padding: 0 16px;
  margin-top: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile {
  position: absolute;
  inset: 0;
  background-color: #fff;
  margin-left: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile.openProfile {
  margin-left: 0;
}
